// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.badge-success {
    color: #fff;
    background-color: #28a745;
}
a.badge-success:focus,
a.badge-success:hover {
    color: #fff;
    background-color: #1e7e34;
}
a.badge-success.focus,
a.badge-success:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
